<%# <%= form_with model: @article do |form|   %>
<p>Create a new article</p>
<%# <%= form_with scope: :article, url: articles_path, local: true do |form| %> 
<%= render 'form' %>

<ul><%= link_to 'back to home page', articles_path %></ul>