
 <div class="row justify-content-md-center" id="page-content">

    <div class="col-12">
        <h1 id="center">Welcome <%= @user.username %></h1>

        <%= render 'articles/article' %>
    </div>

 </div>